[Unit]
Description=Server that recieves the file to count consonants

[Service]
User=mariano
WorkingDirectory=/home/mariano/Documents/OperativosSII2022/Servidor
ExecStart=/home/mariano/Documents/OperativosSII2022/Servidor/DocServer
#Restart=always

[Install]
WantedBy=multi-user.target
